html{
	font-size: 3vw;
	margin-left: 10px;
}

h1{
	font-size: 1.5em;
	font-family: arial, sans-serif;
	margin-top: 0;
	/*margin-left: 10px;*/
}

h2{
	font-size: 1.2em;
	font-family: arial, sans-serif;
	margin-bottom: 0;

	/*margin-left: 10px;*/
}

p{
	font-size: 0.8em;
	margin-top: 0;
	margin-bottom: 1em;
	/*margin-left: 10px;*/
}

@media(max-width: 800px){ 
	
	html{
		font-size: 20px;
	}

	h1{
		
		width: 100%;
	}

}
